<configuration debug="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/queueBrain_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="REST_ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/queuebrain_rest_errors_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="SPRING_INTERNAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/spring_log_%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<fileNamePattern>${catalina.base}/logs/spring_%d{yyyy-MM-dd}.log</fileNamePattern>-->
        </rollingPolicy>
    </appender>

    <logger name="com.zoxal.queuebrain" level="debug" additivity="true">
        <appender-ref ref="COMMON" />
    </logger>

    <logger name="com.zoxal.queuebrain.exceptions.ExceptionResolvingControllerAdvice" level="warn" additivity="false">
        <appender-ref ref="REST_ERRORS" />
    </logger>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="SPRING_INTERNAL" />
    </logger>
</configuration>