<div class="container">
    <div class="row vertical-align">
        <div class="col-sm-4 _center-block">
            <div class="circle-block border-gradient">
                Users count: <br>
                {{usersCount}}
            </div>
        </div>
        <div class="col-sm-4 _center-block">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-4 _center-block">
            <div class="circle-block border-gradient">
                Queues count: <br>
                {{queuesCount}}
            </div>
        </div>
    </div>
</div>